body {
  background-color: #fffaf4;
}

#inputContainer {
  text-align: center;
  margin-bottom: 25px;
}

#taskIn {
  border-radius: 6px;
}

/* I tried to do this as a class, with a class of taskComplete on the tr vs an ID, but that did not work. WHY?????? */
#taskComplete {
  background-color: #9c0e00;
}

#displayContainer,
#displayContainer td {
  border: 1px solid #08c0ff;
  border-collapse: collapse;
  border-radius: 6px;
  /* padding: 10px; */
}

/* .changeMe {
  background-color: #9c0e00;
} */

.todoRow {
  background-color: #ffd5f4;
}

#tableHead {
  color: #700a02;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #700a02;
  text-align: center;
  /* font-weight: bolder; */
  font-family: "Courier New", Courier, monospace;
  /* font-family: monospace; */
}

button {
  background-color: #08c0ff;
  font-family: monospace;
  color: #fffaf4;
  border-radius: 6px;
}

table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

/* .taskComplete {
  background-color: #9c0e00;
} */

.check {
  color: #08c0ff;
  font-size: larger;
  font-weight: bolder;
}

tr {
  border-radius: 6px;
}
